  <body class="bg-blue-200 font-mono">
    <div class="grid mx-auto justify-center">
        <div class="flex justify-center items-center mb-5">
            <img class="rounded-full w-20 h-20" src="https://t4.ftcdn.net/jpg/04/01/07/17/360_F_401071720_g8sPdNFTrae5tLoLN24DXEt2EDQEKnhq.webp" alt="coffe icon">
        </div>
        <div class="inline-flex justify-center items-center mb-24">Say something :)</div>
        <div class="flex">
          <div class="columns-2 gap-4 place-content-center">
              <div class="bg-gray-400 h-auto">Aqui vai o chat</div>
              <div class="bg-gray-700 h-auto">Aqui vai Users Online</div>
          </div>
        </div>
    </div>
  </body>